<form method='GET' action='/search'>
  Sounds like:
  <input type='text' id='sounds_like' name='sounds_like'>
  <br /><br />

  Number of syllables:
  <select id='number_of_syllables' name='number_of_syllables'>
    <option value=''></option>
    <% 18.times do |n| %>
      <option value=<%= n+1 %>><%= n+1 %></option>
    <% end  %>
  </select>
  <br /><br />

  Part of speech:
  <select id='part_of_speech' name='part_of_speech'>
    <option value=''></option>
    <% WordType::PARTS_OF_SPEECH.each do |value, text| %>
      <option value='<%= value %>'><%= text %></option>
    <% end %>
  </select>
  <br /><br />

  Stressed on syllable
  <select id='primary_stress' name='primary_stress'>
    <option value=''></option>
    <% 18.times do |n| %>
      <option value=<%= n+1 %>><%= n+1 %></option>
    <% end  %>
  </select>
  <br /><br />

  Secondary stress on syllable
  <select id='secondary_stress' name='secondary_stress'>
    <option value=''></option>
    <% 18.times do |n| %>
      <option value=<%= n+1 %>><%= n+1 %></option>
    <% end  %>
  </select>
  <br /><br />

  <input type='submit' value='Search'>

</form>
