<form method='GET' action='/search'>
  Number of syllables:
  <select id='number_of_syllables' name='number_of_syllables'>
    <% 10.times do |n| %>
      <option value=<%= n %>><%= n %></option>
    <% end  %>
  </select>
  <br /><br />

  Part of speech:
  <br />
  <select id='part_of_speech' name='part_of_speech'>
    <% WordType::PARTS_OF_SPEECH.each do |value, text| %>
      <option value='<%= value %>'><%= text %></option>
    <% end %>
  </select>
  <br /><br />

  Stressed on syllable
  <select id='primary_stress' name='primary_stress'>
    <% 10.times do |n| %>
      <option value=<%= n %>><%= n %></option>
    <% end  %>
  </select>
  <br /><br />

  Secondary stress on syllable
  <select id='secondary_stress' name='secondary_stress'>
    <% 10.times do |n| %>
      <option value=<%= n %>><%= n %></option>
    <% end  %>
  </select>
  <br /><br />

  <input type='submit' value='Search'>

</form>
